.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 42px;
}

span {
  margin: 0 15px;
  line-height: 0.7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
}

.content {
  padding: 40px 10px;
  margin: auto;
  width: 70%;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form-field:required,
.form-field:invalid {
  box-shadow: none;
}

.flight-details {
  width: 500px;
  margin: auto;
}

.details div {
  padding: 10px 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
